*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 133px 0;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.custom-scrollbar::-webkit-scrollbar,
.content__list-container::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track,
.content__list-container::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb,
.content__list-container::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  width: 1100px;
  min-height: 534px;
}

.result {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-width: 711px;
  margin-top: 211px;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
  margin-bottom: 16px;
  overflow: hidden;
  background: #000;
}

.result__video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.search-form__fieldset {
  margin-right: 40px;
  border: none;
}

.search-form__fieldset[aria-hidden="true"] {
  border: none;
  border: 1px solid #fff;
}

.search-form__fieldset-title {
  margin-bottom: 7.5px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: fit-content;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__textfield {
  width: 225px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  outline: none;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  line-height: 1;
  background-color: #1b1919;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__submit-button {
  flex: 0 0 auto;
  align-self: flex-end;
  width: 194px;
  height: 34px;
  margin-right: 0;
  padding: 10px 18px;
}

.content__details {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 24px;
  height: 100%;
  margin-top: 135px;
  padding-right: 6px;
  padding-left: 0px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 0.94;
  letter-spacing: 0;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 420px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-right: 3px;
  padding-left: 3px;
}

.content__card-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  background: transparent;
}

.content__video-card-description-container {
  flex: 1 1 auto;
  min-width: 0;
  max-width: 50%;
}

.content__video-card-title {
  flex-grow: 1;
  flex-basis: 0;
  margin-bottom: 6px;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  text-overflow: ellipsis;

  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16.2px;
  letter-spacing: 0;
}

.content__video-card-thumbnail {
  display: block;
  flex-shrink: 0;
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #fff;
  padding: 6px 14px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
}

.more-button {
  display: block;
  max-width: 100%;
  max-height: 34px;
  margin: 2px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  color: #fff;
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  opacity: 0;
  background: #fff;
  transition: opacity 0.12s ease;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(.search-form__checkbox):hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(.search-form__textfield):hover
  .search-form__label-text {
  text-decoration: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
}

.content__card-link,
.button,
.search-form__label,
.search-form__checkbox {
  cursor: pointer;
}
